*{
    margin: 0;
    padding: 0;  
  }
  #header{
      height: 10vh;
      background-image: url('../photos/imageBG.jpg');
      background-size:cover;
      background-repeat:no-repeat ;
      
      /*text-transform: uppercase;  tout les paragraphes en majuscules */
      text-align: center;
      display: flex;
      flex-direction: column;
      font-family: Arial;
      
  }
  
  header{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      
  }
  
  header nav{
      display: flex;
      flex: 1 1 600px;
      justify-content:flex-end;
      margin-right: 40px;
      align-items: center;
  
  }
  
  header nav a{
      padding: 10px 20px;
      text-decoration: none;
      color: white;
  
  }
  
  header .logo{
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
  
  }
  
  header .logo img{
      height: inherit;
      width: inherit;
      margin-left: 20px;
  }

  header h1{
    margin-right: 845px;
    color: white;
    font-family: Arial;
    font-size: 30px;
}


#switsh nav{
   justify-content: space-between;
   display: flex;
   margin-left: 600px;
   margin-right: 600px;
   
   

}

#switsh nav a{
    text-decoration: none;
    color: rgb(214, 89, 89);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
}
#switsh nav .Active{
    
    transition: 0.3 background-color;
    text-decoration:revert;
}


.content{
    
    padding: 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(235, 231, 231);
    

}
 .title_2 .elemen_2 .ICON_2:hover{
    transform: scale(1.3);
    z-index: 4;
    transition: 2s;
}
.title_2 h1:hover{
    transform: scale(1.3);
    z-index: 4;
    transition: 2s;
}
.title_1 .elemen_1 .ICON_1:hover{
    transform: scale(1.3);
    z-index: 4;
    transition: 2s;
}
.title_1 h1:hover{
    transform: scale(1.3);
    z-index: 4;
    transition: 2s;
}
.title_3 .elemen_3 .ICON_3:hover{
    transform: scale(1.3);
    z-index: 4;
    transition: 2s;
}
.title_3 h1:hover{
    transform: scale(1.3);
    z-index: 4;
    transition: 2s;
}

.box:hover{
    transform: scale(1.3);
    z-index: 4;
    transition: 2s;
}

 .box img{
    display: block;
    width: 100%;
    border-radius: 5px;
    
}

.content_2{
    
    padding: 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  

}

.title_1{
    background-color:  rgb(235, 231, 231);
    
}


.title_1 h1{
    align-items: center;
    color: rgb(214, 89, 89);
    margin-left: 700px;
    
}

.elemen_1{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 660px;
    margin-right: 580px;
}
.elemen_1 .ICON_1{
    align-items: center;
    display: flex;
    
}

.title_2{
    background:white;
}
.title_2 h1{
    align-items: center;
    color: rgb(214, 89, 89);
    margin-left: 650px;
    
}
.elemen_2{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 600px;
    margin-right: 580px;
}
.elemen_2 .ICON_2{
    align-items: center;
    display: flex;
    
}
.title_3{
    background-color:  rgb(235, 231, 231);
    
}


.title_3 h1{
    align-items: center;
    color: rgb(214, 89, 89);
    margin-left: 579px;
    
}

.elemen_3{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 600px;
    margin-right: 580px;
}
.elemen_3 .ICON_3{
    align-items: center;
    display: flex;
    
}


.time{
    width: 40px;
    height: 40px;

   
    
}
.icon_heart{
    font-size: 50px;
   
}
